<%- include('../header') %>
<h1>Add new</h1>
<form action="/posts/create" method="post">
    <input type="text" name="title" id="">
    <input type="text" name="body" id="">
    <input type="submit" value="Add!">
</form>
<p><a href="/">Go Back</a></p>
<%- include('../footer') %>