<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese" rel="stylesheet">
    <style>
        body {
            font-family: 'Kosugi Maru', sans-serif;
        }
    </style>
</head>
<body>
    <p>フォーム</p>
    <form action="/create" method="post">
        <input type="text" name="name" id="">
        <input type="submit" value="create!">
    </form>
</body>
</html>